<div class="carousel carousel-slider" style = "min-height: 900px">
   <a class="carousel-item" href="#one!">
     <%=image_tag("forza.jpg") %>
   </a>
   <a class="carousel-item" href="#two!">
     <%=image_tag("forza_2.jpg") %>
   </a>
   <a class="carousel-item" href="#two!">
     <%=image_tag("forza_3.jpg") %>
   </a>
   <a class="carousel-item" href="#two!">
     <%=image_tag("forza_4.jpg") %>
   </a>
   <a class="carousel-item" href="#two!">
     <%=image_tag("forza_5.jpg") %>
   </a>
   <a class="carousel-item" href="#two!">
     <%=image_tag("forza_6.jpg") %>
   </a>

 </div>

<h4>Sobre nosotros</h4>
Somos un gimnasio de calistenia abierto para todo el público.



<h5>Nos especializamos en ayudarte a alcanzar y exceder tus metas</h5>
Contamos con excelentes coaches que le proveen a nuestros miembros una rutina especializada. Adicionalmente, nuestra nutrióloga le ofrece consejos a nuestros miembros para que vivan y entrenen sanamente.

<h5>Contacto</h5>
Whatsapp: 01 81 2511 9160
<br>
Facebook: /forzagravitygym

<h5>Horarios</h5>
lunes     6:00-10:00, 16:00-22:00
<br>
martes    6:00-10:00, 16:00-22:00
<br>
miércoles 6:00-10:00, 16:00-22:00
<br>
jueves    6:00-10:00, 16:00-22:00
<br>
viernes   6:00-10:00, 16:00-22:00
<br>
sábado    10:00-14:00
<br>
domingo   Cerrado

<h5>Ubicación</h5>
Lázaro Cárdenas 4328-A (5,87 km)
64930 Monterrey
