<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, class: "datepicker", value: Date.today%>
  </div>

  <div  style="display:none;">
  <%= form.text_field :member_id, as: :hidden, value: params[:member_id] %>
</div>


  <div>
    <%= form.submit 'Guardar', class: "actions waves-effect waves-light btn" %>
  </div>
<% end %>
