<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Member:</strong>
  <%= @payment.member_id %>
</p>

<%= link_to 'Editar', edit_payment_path(@payment) %> |
<%= link_to 'Atrás', payments_path %>
