<!DOCTYPE html>
<html>
  <head>
        <link rel = "stylesheet"
           href = "https://fonts.googleapis.com/icon?family=Material+Icons">
          <title>Forza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <nav>
      <div class="nav-wrapper">
        <%= link_to image_tag("forza_logo.jpg", alt: "logo", style: "height:100%"), '/', class: 'navbar-brand' %>
        <ul id="nav-mobile" class="right">
          <% if session[:current_user] == 'FORZA' %>
            <li> <%= link_to "Miembros", members_path %> </li>
            <li> <%= link_to "Pagos", payments_path %> </li>
            <li> <%= link_to "Pendientes", upcoming_payments_path %> </li>
            <li> <%= link_to "Logout", pages_logout_path %> </li>
          <% else %>
            <li> <%= link_to "Nosotros", pages_home_path %> </li>
            <li> <%= link_to "Acceso", pages_login_path %> </li>
          <%end %>
        </ul>
      </div>
    </nav>


  <body>
    <%= yield %>
  </body>
</html>
