<span>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Dia de pago</th>
      <th>Activo</th>
      <th>Siguiente pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.firstName %></td>
        <td><%= member.lastName %></td>
        <td><%= member.email %></td>
        <td><%= member.phoneNumber %></td>
        <td><%= member.paymentDay %></td>
        <td><%= member.active %></td>
        <td><%= member.nextPaymentDate %></td>
        <td><%= link_to 'Registrar pago', "members/#{member.id}/payments/new" %></td>
        <td><%= link_to 'Perfil', member %></td>
        <td><%= link_to 'Editar', edit_member_path(member) %></td>
        <td><%= link_to 'Eliminar', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
