<p id="notice"><%= notice %></p>

<h1>Members</h1>
<%= form_tag(members_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :query, params[:query], placeholder: "Buscar nombre" %>
<%= submit_tag "Search", class: "actions waves-effect waves-light btn" %>
<% end %>
<%= render(
  partial: 'list',
  locals: { members: @members }
) %>

<%= link_to 'New Member', new_member_path %>
