<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @member.phoneNumber %>
</p>

<p>
  <strong>Paymentday:</strong>
  <%= @member.paymentDay %>
</p>

<p>
  <strong>Active:</strong>
  <%= @member.active %>
</p>

<p>
  <strong>Nextpaymentdate:</strong>
  <%= @member.nextPaymentDate %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
